<!-- views/hello.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <h1>Hello
        <% if(name) { %>
            <span class="name"><%= name %>!</span>
        <% } else { %>
            <span class="stranger">누구신지?</span>
        <% } %>
    </h1>
</body>
</html>